body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  width: 100%;
  height: 100px;
}

.navbar .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://38.media.tumblr.com/741d2136fbcfe2c257acd038e5b010db/tumblr_nnk5m6gvIj1u5wsqho1_500.gif");
  background-size: cover; /* Ensure the background image covers the entire navbar */
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1); /* Flip the background horizontally */
  z-index: -1; /* Place the background behind other content */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  padding: 0 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 15px;
  font-weight: 900;
  font-size: larger;
  position: relative;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.item {
  background-color: #ffffff3f;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.item:hover {
  background-color: #ffffff;
  border-radius: 20px;
}

.item:focus {
  outline: none; /* Remove default focus outline */
  padding: 15px 50px 15px 50px;
  background-color: #ffcdd59e;
  backdrop-filter: blur(15px);
  transition: 0.7s;
}

.navbar ul li a:focus {
  color: #000080;

  text-shadow: 10px 7px 10px rgb(180, 180, 180); /* Adjust text shadow */
}
@media only screen and (max-width: 480px) {
  .navbar {
    height: 100px;
    padding: 0;
  }

  .navbar .background-image {
    padding: 0;
  }

  .navbar ul {
    text-align: right;
    padding: 20px;
    margin: 0;
    list-style-type: none;
  }

  .navbar ul li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 10px;
  }

  .navbar ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px;
    font-weight: 900;
    font-size: larger;
    position: relative;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
  }

  .item {
    background-color: rgba(
      255,
      255,
      255,
      0.247
    ); /* Using rgba to define transparency */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .item:hover,
  .item:focus {
    background-color: rgba(
      0,
      0,
      0,
      0.412
    ); /* Using rgba to define transparency */
    border-radius: 20px;
  }

  .item:focus {
    outline: none; /* Remove default focus outline */
    padding: 15px 50px 15px 50px;
    background-color: #ffcdd59e;
    backdrop-filter: blur(15px);
    transition: 0.7s;
  }

  .navbar ul li a:focus {
    color: #000080;
    text-shadow: 10px 7px 10px rgb(180, 180, 180);
  }
}

/* Styles for screens from 481px to 576px */
@media only screen and (min-width: 481px) and (max-width: 576px) {
  .navbar ul li {
    margin-left: 5px; /* Adjust margin for smaller screens */
  }
}

/* Styles for screens from 577px to 992px */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .navbar ul li {
    margin-left: 10px; /* Adjust margin for smaller screens */
  }
}

/* Styles for screens from 993px to 1200px */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .navbar ul li {
    margin-left: 15px; /* Adjust margin for medium screens */
  }
}

/* Styles for screens up to 768px */
@media only screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px;
  }

  .navbar .background-image {
    padding: 5px;
  }

  .navbar ul {
    text-align: center;
    padding: 0;
  }

  .navbar ul li {
    display: block;
    margin-bottom: 10px;
  }

  .item {
    background-color: rgba(0, 0, 0, 0.095);
    backdrop-filter: blur(20px);
    border-radius: 15px;
  }

  .item:hover {
    background-color: #fff;
    border-radius: 20px;
  }

  .item:focus {
    outline: none; /* Remove default focus outline */
    padding: 15px 50px 15px 50px;
    background-color: #ffcdd59e;
    backdrop-filter: blur(15px);
    transition: 0.7s;
  }
  .navbar ul li a:focus {
    color: navy;
  }
}
